<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
    {{!-- Header: basic info and  main attributes --}}
    {{> "systems/metzmatan/templates/actor/parts/actor-character-header.hbs"}}
</form>