{{!-- Yes, it's just the description edit box and nothing else --}}
<div>
    {{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=true
        editable=editable
    }}
</div>
